<header>
	<div class="container">
		<div class="row">

			<div class="col s8">
				<img src="/assets/new-sticker.png" alt="logo">
			</div>

		</div>	
	</div>
</header>

<section>
	<div>
		<div class="verde">
			<img src="/assets/verde.png" alt="hey hey">

			<div>
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">Transferencia</div>
						<div class="collapsible-body">
							<p>Cuenta Corriente Banco BCI
							Inversiones Freedom Limitada
							Numero de cuenta: 27172341
							Rut: 76.168.645-3
							Mail: info@vernebikes.com</p>
						</div>
					</li>
				</ul>

				<a href='http://www.flow.cl/btn.php?token=10xfzkd' target='_blank'>
				  <img src='http://www.flow.cl/img/boton11.png'>
				</a> 
			</div>

		</div>
		
		<div class="amarilla">
			<img src="/assets/amarilla-Logo.png" alt="hey hey">

			<div>
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">Transferencia</div>
						<div class="collapsible-body">
							<p>Cuenta Corriente Banco BCI
							Inversiones Freedom Limitada
							Numero de cuenta: 27172341
							Rut: 76.168.645-3
							Mail: info@vernebikes.com</p>
						</div>
					</li>
				</ul>

				<a href='http://www.flow.cl/btn.php?token=1z68one' target='_blank'>
	 				<img src='http://www.flow.cl/img/boton11.png'>
				</a>
			</div>
		</div>

	</div>
</section>

<footer>

	<div class="container">
		<div class="row">
			<h4>Siguenos en Redes Sociales!</h4>
			<div class="container">
				<div class="row">
					<div class="col s6"><img src="/assets/facebook.png" alt=""></div>
					<div class="col s6"><img src="/assets/instagram.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
	
</footer>