<header>
	<div class="row">

		<div class="col s4 offset-s4 logo">
			<img src="/assets/new-sticker.png" alt="" class="center-align">
		</div>

	</div>
</header>

<section>
	<div>
		<div class="verde">
			<img src="/assets/verde.png" alt="hey hey">

			<h5>$149.990</h5>

			<div>
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">Pagar con Transferencia</div>
						<div class="collapsible-body">
							<p>Cuenta Corriente Banco BCI
							Inversiones Freedom Limitada
							Numero de cuenta: 27172341
							Rut: 76.168.645-3
							Mail: info@vernebikes.com
							<br>
							Luego de efectuada la transferencia envia un correo a ignacio.palma@live.com con los datos de despacho. La entrega se realizara en 2 dias habiles.</p>
						</div>
					</li>
				</ul>

				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">Pago con Tarjetas</div>
						<div class="collapsible-body">
						<a href='http://www.flow.cl/btn.php?token=1z68one' target='_blank'>
	 						<img src='http://www.flow.cl/img/boton11.png'>
						</a>
						</div>
					</li>
				</ul>
			</div>

		</div>
		
		<div class="amarilla">
			<img src="/assets/amarilla-Logo.png" alt="hey hey">

			<h5>$149.990</h5>

			<div>
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">Pagar con Transferencia</div>
						<div class="collapsible-body">
							<p>Cuenta Corriente Banco BCI
							Inversiones Freedom Limitada
							Numero de cuenta: 27172341
							Rut: 76.168.645-3
							Mail: info@vernebikes.com
							<br>
							Luego de efectuada la transferencia envia un correo a ignacio.palma@live.com con los datos de despacho. La entrega se realizara en 2 dias habiles.</p>
						</div>
					</li>
				</ul>

				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">Pago con Tarjetas</div>
						<div class="collapsible-body">
						<a href='http://www.flow.cl/btn.php?token=1z68one' target='_blank'>
	 						<img src='http://www.flow.cl/img/boton11.png'>
						</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>

<footer>

	<div class="container">
		<div class="row">
			<h4>Siguenos en Redes Sociales!</h4>
				<div class="row">
					<div class="col s3 offset-s3"><a href="https://www.facebook.com/VerneBikes/"><img src="/assets/facebook.png" alt=""></a></div>
					<div class="col s3"><a href="https://twitter.com/vernebikes"><img src="/assets/instagram.png" alt=""></a></div>
				</div>
		</div>
	</div>
	
</footer>